@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    width:100%;
    height:500px;
    background-image: url('../public/Img/BG.jpg');
    background-size: cover;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;

}
.hero-cover{
    background-color: rgba(22, 22, 22, 0.6);
    width:100%;
    height:500px;
    background: rgba(2,0,36,0.6);
background: linear-gradient(90deg, rgba(2,0,36,.7) 0%, rgba(111, 111, 197, 0.7).7) 35%, rgba(241, 246, 247, 0.8) 100%);
}