@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    width:100%;
    height:500px;
    background-image: url('../public/Img/BG.jpg');
    background-size: cover;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;

}
.hero-cover{
    background-color: rgba(22, 22, 22, 0.6);
    width:100%;
    height:500px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(60, 55, 112, 0.6) 0%, rgba(27, 27, 114, 0.7) 35%, rgba(35, 40, 41, 0.7) 100%);
}
.hover-state{
    @apply bg-white rounded overflow-hidden shadow-md relative;
}