@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    width:100%;
    height:450px;
    background-image: url('../public/Img/BG.jpg');
    background-size: cover;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;

}
.hero-cover{
    width:100%;
    height:450px;
    background: rgba(2,0,36,0.6);
    
background: linear-gradient(90deg, rgba(21, 20, 44, 0.7) 0%, rgba(18, 18, 41, 0.7).7) 35%, rgba(241, 246, 247, 0.8) 100%);
}