@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    width:100%;
    height:auto;
    background-image: url('../public/Img/BG.jpg');
    background-size: cover;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;

}